<?xml version="1.0"?>
<model>
  <name>aruco_marker_3</name>
  <version>1.0</version>
  <sdf version="1.11">model.sdf</sdf>
  <author>
    <name>vaibhav</name>
    <email>vaibhav@example.com</email>
  </author>
  <description>Vertical ArUco marker board, id=3 (DICT_4X4_50). 0.4m marker on stand.</description>
</model>
