amcl:
  ros__parameters:
    use_sim_time: true

    alpha1: 0.2
    alpha2: 0.2
    alpha3: 0.2
    alpha4: 0.2
    alpha5: 0.2

    base_frame_id: "base_link"
    odom_frame_id: "odom"
    global_frame_id: "map"

    scan_topic: scan

    min_particles: 500
    max_particles: 2000
    resample_interval: 1
    transform_tolerance: 1.0

    robot_model_type: "nav2_amcl::DifferentialMotionModel"


map_server:
  ros__parameters:
    use_sim_time: true
    yaml_filename: ""


bt_navigator:
  ros__parameters:
    use_sim_time: true
    global_frame: map
    robot_base_frame: base_link


controller_server:
  ros__parameters:
    use_sim_time: true


planner_server:
  ros__parameters:
    use_sim_time: true


recoveries_server:
  ros__parameters:
    use_sim_time: true
